.main_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f9fa;
  }
  .login_container {
    border: solid grey 1px;
    border-radius: 10px;
    padding: 40px;
  }
  .non_profit {
    color: green;
    font-family: sans-serif;
    font-size: 20px;
  }
  .welcome {
    font-family: sans-serif;
    text-align: center;
    font-size: 17px;
  }
  
  